<?xml version=”1.0" encoding=”UTF-8"?>
 <!DOCTYPE plist PUBLIC “-//Apple//DTD PLIST 1.0//EN” “http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version=”1.1">
 <dict>
 <key>method</key>
 <string>development</string>
 <key>teamID</key>
 <string>6MDKABF6C5</string>
 <key>provisioningProfiles</key>
 <dict>
 <key>de.nownow.nownowadvertiser.nownowAdvertiser</key>
 <string>TolgaYld</string>
 </dict>
 </dict>
 </plist>